<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Tweeter</title>
	<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
	<div class="hero-image">
		<div class="hero-text">
			<h1>Tweeter</h1>
		</div>
	</div>

	<br>
	<div style="text-align:center">
		<b style="font-size: 20px">Name: <%- name %> </b><br>
		<b style="font-size: 20px">Tweet: <%- tweet %> </b><br>
		<br>
		<b>You've added a tweet!</b><br>
		<b>Time: <%- date %></b><br>
		<b>Location: (lat: <%- latitude %>, lon: <%- longitude %>)</b><br><br>
		<a href="/">Home</a>
	</div>
</body>

</html>
